<h1>Animals</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Breed</th>
    <th></th>
    <th>Bio</th>
    <th></th>
    <th>Ready for adoption?</th>
    <th></th>
    <th>Adopted?</th>
    <th></th>
    <th>Adoption Date</th>
    <th></th>
    <th>Admission Date</th>
    <th></th>
    <th>Profile Picture</th>
    <th></th>
  </tr>
</table>