<form method="post" action="/animals">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name"/>
  <br/>
  <br/>
  <label for="type">Type:
    <input id="cat" type="radio" name="type" value = "Cat"> Cat
    <input id="dog" type="radio" name="type" value = "Dog"/> Dog
  </label>
  <br/>
  <br/>
  <label for="breed">Breed: </label>
  <input id="breed" type="text" name="breed">
  <br/>
  <br/>
  <label for="bio">Bio: </label>
  <input id="bio" type="text" name="bio"/>
  <br/>
  <br/>
  <label for="ready_for_adoption">Ready for adoption?
    <input id="yes" type="radio" name="ready?" value = "Yes"> Yes
    <input id="no" type="radio" name="ready?" value = "No"> No
  </label>
 <!--  <br/>
  <br/>
  <label for="adopted">Adopted?
    <input id="yes" type="radio" name="adopted?" value = "Yes"> Yes
    <input id="no" type="radio" name="adopted?" value = "No"> No
  </label>  -->
<!--   <br/>
  <br/>
  <label for="adoption_date">Adoption date (if applicable):</label>
  <input id="adoption_date" type="date" name="adoption_date" min = "01/01/2000" max ="06/04/2017"/> -->
  <br/>
  <br/>
  <label for="admission_date">Admission date: </label>
  <input id="admission_date" type="date" name="admission_date"/>
  <br/>
  <br/>
  <label for="profile_picture">Profile picture link: </label>
  <input id="profile_picture" type="text" name="profile_picture">
  <br/>
  <br/>
  <input type="submit" value="Add Animal"/>
</form>