<form method="post" action="/animals">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name"/>
  <br/>
  <br/>
  <label for="type">Type: </label>
  <input id="type" type="text" name="type"/>
  <br/>
  <br/>
  <label for="breed">Breed: </label>
  <input id="breed" type="text" name="breed">
  <br/>
  <br/>
  <label for="bio">Bio: </label>
  <input id="bio" type="text" name="bio"/>
  <br/>
  <br/>
  <label for="ready_for_adoption">Ready for adoption?: </label>
  <input id="ready_for_adoption" type="boolean" name="ready_for_adoption"/>
  <br/>
  <br/>
  <label for="adopted">Adopted?: </label>
  <input id="adopted" type="boolean" name="adopted">
  <br/>
  <br/>
  <label for="adoption_date">Adoption date: </label>
  <input id="adoption_date" type="text" name="adoption_date"/>
  <br/>
  <br/>
  <label for="admission_date">Admission date: </label>
  <input id="admission_date" type="text" name="admission_date"/>
  <br/>
  <br/>
  <label for="profile_picture">Profile picture link: </label>
  <input id="profile_picture" type="text" name="profile_picture">
  <br/>
  <br/>
  <input type="submit" value="Add Animal"/>
</form>