<h1 class = "page_header">Register new animal!</h1>


<form method="post" action="/animals">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name"/>
  <br/>
  <br/>
  <label for="type">Type:
    <input id="cat" type="radio" name="type" value = "Cat"> Cat
    <input id="dog" type="radio" name="type" value = "Dog"/> Dog
  </label>
  <br/>
  <br/>
  <label for="breed">Breed: </label>
  <input id="breed" type="text" name="breed">
  <br/>
  <br/>
  <label for="bio">Bio: </label>
  <input class = "bio" id="bio" type="text" name="bio"/>
  <br/>
  <br/>
  <label for="ready_for_adoption">Ready for adoption?
  <br/>
  <br/>
  <tr>
    <input id="yes" type="radio" name="ready?" value = "Yes"> Yes
    <input id="no" type="radio" name="ready?" value = "No"> No
    </tr>
  </label>
  <br/>
  <br/>
  <label for="admission_date">Admission date: </label>
  <input id="admission_date" type="date" name="admission_date"/>
  <br/>
  <br/>
  <label for="profile_picture">Profile picture link: </label>
  <input id="profile_picture" type="text" name="profile_picture">
  <br/>
  <br/>
  <input type="submit" value="Add Animal"/>
</form>