<h1>Forced Adoptions</h1>
<h2>Choose any animal for any owner - it's this or the bin!</h2>


<form action="/adoptions" method="post">
  <p>
    Select an owner:
  </p>
  <p>
   <label>
    <select name="owner_id">
      <% for owner in @owners %>
      <% if owner.capacity_for_animals > 0 %>
      <option value="<%= owner.id %>"><%= owner.name %></option>
      <% end %>
      <% end %>
    </select>
  </label>
</p>

<p>
  Select an animal:
</p>
<p>
  <label>
    <select name="animal_id">
      <% for animal in @animals %>
      <% if animal.ready_for_adoption == "Yes"%>
      <option value="<%= animal.id %>"><%= animal.name %></option>
      <% end %>
      <% end %>
    </select>
  </label>
</p>

<p>
  Adoption Date:
</p>
<input name= "adoption_date" type="date">
<br/>
<br/>
<input class="btn" type='submit' value="Adopt!">
</form>