<% if @owner.capacity_for_animals > 0 %>
<h1 class = "page_header">Choose from the preferred animal type for the owner!</h1>


<form action="/adoptions" method="post">
  <label>

    Owner:
    <br/>
    <select name="owner_id">
      <option value="<%= @owner.id %>"><%= @owner.name %></option>
    </select>
    <br/>
  </label>
  <br/>
  <label>
    Select an animal:
    <br/>
    <select name="animal_id">
      <% for animal in @animals %>
      <% if animal.ready_for_adoption == "Yes" && animal.type == @owner.looking_for %>
      <option value="<%= animal.id %>"><%= animal.name %></option>
      <% end %>
      <% end %>
    </select>
  </label>
  <br/>
  <br/>
  <label>
    Adoption Date:
    <br/>
    <input name="adoption_date" type="date">
    <br/>
    <br/>
    <input class="btn" type='submit' value="Adopt!">
  </form>

  <% else %>
  <h1 class = "page_header"> Adoption not possible... </h1>
  <p class = "confirmation">This owner does not have space for any more animals!</p>
  <% end %>