<h1 class = "welcome_header">Animal Shelter</h1>

<p class = "welcome">Welcome to your local animal shelter!</p>

<h6 class= "disclaimer"><b>Disclaimer:</b> If you choose to have your details removed from the system, your pet will be repossessed. </h6>