<h1>Animal Shelter</h1>

<p>Welcome to the animal shelter!</p>

<img src= "http://www.stephaniefeagan.com/wp-content/uploads/2013/09/pack-of-dogs.gif"/>
<img src= "http://www.cutecatgifs.com/wp-content/uploads/2014/07/giphy1.gif"/>