<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles/images.css">
<link rel="stylesheet" type="text/css" href="/styles/main.css">
<link rel="icon" href="/images/house_icon.ico" />


  <title>Animal Shelter</title>
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/animals">Animals</a>
      </li>
      <li>
        <a href="/owners">Owners</a>
      </li>
      <li>
        <a href="/adoptions">Adoptions</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>