a{
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
  color: #ff9900;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

ul {
  list-style-type: none;
}

a:hover{
  color:yellow;
}

.col_one {
  color:red;
}

.col_two {
  color:blue;
}

.page_header {
  color:  #b3ffff;
  font-family: monospace;
  font-size:20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.forced_header {
  color:red;
  font-family: monospace;
  font-size: 25px;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

.forced {
  color:black;
  font-family: monospace;
  font-size: 15px;

}

.generic {
  color:limegreen;
  font-family: monospace;
  font-size:15px;
  text-shadow: -.25px 0 black, 0 .25px black, .25px 0 black, 0 -.25px black;
  background-color: rgba(255, 255, 255, 0.9);
  width:400px;
  border: 1px solid black;
  border-radius:25px;
  padding: 20px;
}
.generic_sm {
  background-color: rgba(255, 255, 255, 0.9);
  width:100px;
  border: 1px solid black;
  border-radius:25px;
  padding: 10px;
}

.confirmation{
  color:green;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.9);
  width:400px;
  border: 1px solid black;
  border-radius:25px;
  padding: 10px;
}

.welcome_header {
  color:yellow;
  font-family: monospace;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 50px;
}

.welcome {
  color:white;
  font-family: monospace;
  font-size:25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div {
  border: 1px solid black;
}

body {

  font-size:15px;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}

.animals {
  background-color: rgba(255, 255, 255, 0.75);
  overflow-y: scroll;
  height:480px;
  width:90%;
  padding: 10px;
  color:green;
  font-family: monospace;
}

label {
  color:yellow;
  font-family: monospace;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.capacity{
  width:30px;
}


.owners {
  background-color: rgba(255, 255, 255, 0.75);
  overflow-y: scroll;
  height:480px;
  width:90%;
  padding: 10px;
  color:green;
  font-family: monospace;
}

.adoptions {
  background-color: rgba(255, 255, 255, 0.75);
  overflow-y: scroll;
  height:390px;
  width:60%;
  padding:10px;
  color:green;
  font-family: monospace;
}

.profile {
  background-color: rgba(255, 255, 255, 0.75);
  overflow-y: scroll;
  height:500px;
  width:50%;
  color:green;
  font-family: monospace;
}

.sub_links {
  color: #0099ff;
  font-size: 15px;
}
