<h1>Owners</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Animals Owned</th>
    <th></th>
    <th>Adoption Date</th>
    <th></th>
    <th>Bio</th>
    <th></th>
    <th>Capacity for animals</th>
    <th></th>
    <th>Looking for...</th>
    <th></th>
    <th>Profile Picture</th>
    <th></th>
  </tr>
</table>